<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>관심사 분석 메인</title>
  <link rel="stylesheet" href="/css/main.css" />
</head>
<body>
<div class="window">

    <div class="icon">
      <img src="/img/chat-main.png" alt="chat icon" class="chat-img" />
    </div>
    <div class="text">
      <p>포커스 에이드에 온 걸 환영해요</p>
      <p>어떤 기능을 이용하시겠어요?</p>
    </div>


  <form action="/question" method="get">
    <button class="start-btn">대화 시작하기</button>
  </form>

  <div class="triangle"></div>
</div>
</body>
</html>



